
@{
    ViewBag.Title = "Index";
}

<h1>Bem-vindo à minha loja de games virtual</h1><br />
<p>Esta loja foi desenvolvida para a tarefa de Asp.Net da matéria de desenvolvimento de software da professora Nívia</p>
<p>Espero que esteja certo e que você goste :)</p>

