
@model loja_de_games.Models.Cliente
@{
    ViewBag.Title = "CadCliente";
}

<h2>Dados Cadastrados com Sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Cliente")</p>
<p>@Html.ActionLink("Vizualizar Cliente", "ResultadoCliente")</p>



