@model loja_de_games.Models.Funcionario
@{
    ViewBag.Title = "CadFuncionario";
}

<h2>Dados Cadastrados com Sucesso</h2>
<br/>
<p>@Html.ActionLink("Voltar","Funcionario")</p>
<p>@Html.ActionLink("Vizualizar Funcionario", "ListarFuncionario")</p>

